<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ODIN 模擬器</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <div id="app">
      <section class="container mx-auto">
        <h1 class="text-center font-bold text-3xl mt-16">
          奧丁：神叛 模擬器 (娛樂用)
        </h1>
        <div class="text-center font-bold text-3xl mt-2">
          <a
            target="_blank"
            class="mx-4 no-underline text-blue-700 hover:underline"
            href="https://github.com/zhong1016/ODIN"
            >GitHub</a
          >
          <a
            target="_blank"
            class="mx-4 no-underline text-blue-700 hover:underline"
            href="https://line.me/ti/g2/GiZD31zLFYzSXF-FwEjiOsLiJBgIqC7GtxCUvQ?utm_source=invitation&utm_medium=link_copy&utm_campaign=default"
            >Line社群</a
          >
        </div>

        <div class="mt-2 flex justify-center">
          <select
            @change="[this.view,accumulation,count,result] = [this.blackHeart,0,'',[]]"
            v-model="blackHeart"
            class="mx-2 form-select appearance-none block px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            aria-label="Default select example"
          >
            <option value="default">選擇衝裝 / 抽卡</option>
            <option value="equipment">我要衝裝</option>
            <option value="card">我要抽卡</option>
          </select>
        </div>

        <!-- 衝裝 -->
        <main v-if="view === 'equipment' ">
          <div class="flex justify-center mt-2">
            <div class="flex items-center">
              <h1 class="text-center font-bold text-xl">
                目前累積強化 {{accumulation}}
              </h1>
            </div>
            <div class="flex items-center">
              <button
                @click="[accumulation,count,result] = [0,'',[]]"
                class="mx-2 h-8 w-12 active:relative top-1 bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white border border-blue-500 hover:border-transparent rounded"
              >
                Reset
              </button>
            </div>
          </div>

          <div class="hidden lg:flex flex-col">
            <div class="my-2 flex flex-row justify-center">
              <div class="mt-4 flex justify-center">
                <select
                  v-model="equipment"
                  class="mx-2 form-select appearance-none block px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  aria-label="Default select example"
                >
                  <option value="default">選擇道具</option>
                  <option value="arms">武器</option>
                  <option value="equip">裝備</option>
                  <option value="cloak">披風</option>
                  <option value="accessory">飾品</option>
                  <option value="blackAccessory">商城飾品</option>
                </select>

                <select
                  v-model="nowLV"
                  class="mx-2 form-select appearance-none block px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  aria-label="Default select example"
                >
                  <option value="default">目前等級</option>
                  <option
                    v-for="(item, index) in 20"
                    :key="index"
                    :value="item"
                  >
                    {{item}}
                  </option>
                </select>

                <select
                  class="mx-2 form-select appearance-none block px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  aria-label="Default select example"
                  v-model="blackLV"
                >
                  <option value="default">強化等級</option>
                  <option
                    v-for="(item, index) in 20"
                    :key="index"
                    :value="item"
                  >
                    {{item}}
                  </option>
                </select>

                <input
                  v-model="count"
                  class="px-4 bg-gray-200 appearance-none border-2 border-gray-200 rounded text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-600"
                  type="text"
                  placeholder="輸入數量"
                />

                <button
                  @click="start"
                  class="mx-2 active:relative top-1 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
                >
                  開始強化
                </button>
              </div>
            </div>

            <div class="my-2 flex flex-row justify-center">
              <table class="text-sm text-left text-gray-500 dark:text-gray-400">
                <thead
                  class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
                >
                  <tr>
                    <th scope="col" class="px-6 py-3 text-xl">強化等級</th>
                    <th scope="col" class="px-6 py-3 text-xl">成功</th>
                    <th scope="col" class="px-6 py-3 text-xl">失敗</th>
                    <th scope="col" class="px-6 py-3 text-xl">機率</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(res, index) in result"
                    :key="index"
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                  >
                    <th scope="row" class="text-center text-xl">
                      {{res.level}}
                    </th>
                    <td class="px-6 py-4 text-center text-xl">
                      {{res.success}}
                    </td>
                    <td class="px-6 py-4 text-center text-xl">{{res.fail}}</td>
                    <td class="px-6 py-4 text-center text-xl">
                      {{res.blackUp}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="flex lg:hidden flex-col">
            <div class="my-2 flex flex-col justify-center">
              <select
                v-model="equipment"
                class="mx-2 form-select appearance-none block px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                aria-label="Default select example"
              >
                <option value="default">選擇道具</option>
                <option value="arms">武器</option>
                <option value="equip">裝備</option>
                <option value="cloak">披風</option>
                <option value="accessory">飾品</option>
                <option value="blackAccessory">商城飾品</option>
              </select>
            </div>
            <div class="my-2 flex flex-col justify-center">
              <select
                v-model="nowLV"
                class="mx-2 form-select appearance-none block px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                aria-label="Default select example"
              >
                <option value="default">目前等級</option>
                <option v-for="(item, index) in 20" :key="index" :value="item">
                  {{item}}
                </option>
              </select>
            </div>
            <div class="my-2 flex flex-col justify-center">
              <select
                class="mx-2 form-select appearance-none block px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                aria-label="Default select example"
                v-model="blackLV"
              >
                <option value="default">強化等級</option>
                <option v-for="(item, index) in 20" :key="index" :value="item">
                  {{item}}
                </option>
              </select>
            </div>
            <div class="p-2 flex flex-col justify-center">
              <input
                v-model="count"
                class="p-2 bg-gray-200 appearance-none border-2 border-gray-200 rounded text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-600"
                type="text"
                placeholder="輸入數量"
              />
            </div>
            <div class="p-2 flex flex-col justify-center">
              <button
                @click="start"
                class="mx-2 active:relative top-1 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
              >
                開始強化
              </button>
            </div>

            <div class="my-2 flex flex-row justify-center">
              <table class="text-sm text-left text-gray-500 dark:text-gray-400">
                <thead
                  class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
                >
                  <tr>
                    <th scope="col" class="px-6 py-3 text-xl">強化</th>
                    <th scope="col" class="px-6 py-3 text-xl">成功</th>
                    <th scope="col" class="px-6 py-3 text-xl">失敗</th>
                    <th scope="col" class="px-6 py-3 text-xl">機率</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(res, index) in result"
                    :key="index"
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                  >
                    <th scope="row" class="text-center text-xl">
                      {{res.level}}
                    </th>
                    <td class="px-6 py-4 text-center text-xl">
                      {{res.success}}
                    </td>
                    <td class="px-6 py-4 text-center text-xl">{{res.fail}}</td>
                    <td class="px-6 py-4 text-center text-xl">
                      {{res.blackUp}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </main>

        <!-- 抽卡 -->
        <main v-if="view === 'card' ">
          <div class="flex justify-center mt-2">
            <div class="flex items-center">
              <h1 class="text-center font-bold text-xl">
                目前累積台幣 {{accumulation.toLocaleString()}}
              </h1>
            </div>
            <div class="flex items-center">
              <button
                @click="[accumulation,count,result] = [0,'',[]]"
                class="mx-2 h-8 w-12 active:relative top-1 bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white border border-blue-500 hover:border-transparent rounded"
              >
                Reset
              </button>
            </div>
          </div>

          <div class="flex flex-col justify-center mt-2">
            <div class="flex justify-center items-center">
              <h1 class="text-center font-bold text-xl">目前累積卡片</h1>
            </div>
            <div class="flex justify-center items-center">
              <table>
                <tr>
                  <th class="px-6 py-3">白</th>
                  <th class="px-6 py-3">綠</th>
                  <th class="px-6 py-3">藍</th>
                  <th class="px-6 py-3">紫</th>
                  <th class="px-6 py-3">金</th>
                </tr>
                <tr>
                  <td class="text-center">{{white}}</td>
                  <td class="text-center">{{green}}</td>
                  <td class="text-center">{{blue}}</td>
                  <td class="text-center">{{purple}}</td>
                  <td class="text-center">{{gold}}</td>
                </tr>
              </table>
            </div>
          </div>

          <div class="flex flex-col">
            <div class="my-2 flex flex-row justify-center">
              <div class="mt-4 flex justify-center">
                <input
                  v-model="count"
                  class="px-4 bg-gray-200 appearance-none border-2 border-gray-200 rounded text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-600"
                  type="text"
                  placeholder="輸入數量"
                />

                <button
                  @click="startCard"
                  class="mx-2 active:relative top-1 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
                >
                  開始抽卡
                </button>
              </div>
            </div>

            <div class="my-2 flex flex-row justify-center">
              <table class="text-sm text-left text-gray-500 dark:text-gray-400">
                <thead
                  class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
                >
                  <tr>
                    <th scope="col" class="px-6 py-3 text-lg">白</th>
                    <th scope="col" class="px-6 py-3 text-lg">綠</th>
                    <th scope="col" class="px-6 py-3 text-lg">藍</th>
                    <th scope="col" class="px-6 py-3 text-lg">紫</th>
                    <th scope="col" class="px-6 py-3 text-lg">金</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(res, index) in result"
                    :key="index"
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                  >
                    <th class="px-6 py-4 text-center text-lg">{{res.white}}</th>
                    <td class="px-6 py-4 text-center text-lg">{{res.green}}</td>
                    <td class="px-6 py-4 text-center text-lg">{{res.blue}}</td>
                    <td class="px-6 py-4 text-center text-lg">
                      {{res.purple}}
                    </td>
                    <td class="px-6 py-4 text-center text-lg">{{res.gold}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </main>
      </section>
    </div>

    <script src="js/index.js"></script>
    <script>
      Vue.createApp({
        data() {
          return {
            blackHeart: 'default',
            equipment: 'default',
            nowLV: 'default',
            blackLV: 'default',
            count: '',
            result: [],
            accumulation: 0,
            view: '',
          };
        },
        methods: {
          start() {
            // 判斷
            if (
              [this.equipment, this.nowLV, this.blackLV].includes('default') ||
              !this.count
            )
              return alert('輸入不可為空');

            // 清空
            this.result = [];
            // 總數與機率
            let [count, data, now, up] = [
              this.count,
              probability[this.equipment],
              this.nowLV,
              this.blackLV,
            ];
            // 累積
            let success, fail;

            while (count !== 0) {
              // 強化等級
              let level = ++now;
              // 顯示機率
              let blackUp = `${Math.floor(data[now] * 100)} %`;
              // 歸零
              success = 0;

              // 計算
              for (let i = 0; i < count; i++) {
                if (data[now] >= Math.random().toFixed(2)) success++;
              }

              // 失敗 = 總數 - 成功
              fail = count - success;
              // 返回結果
              this.result.push({ level, success, fail, blackUp });

              // 成功的繼續
              count = success;
              // 達成後結束
              if (level == up) count = 0;
            }
            // 顯示總數
            this.accumulation += parseInt(this.count);
          },

          startCard() {
            // 判斷
            if (!this.count) return alert('輸入不可為空');

            // 累積
            let [white, green, blue, purple, gold] = [0, 0, 0, 0, 0];

            // 計算
            for (let i = 0; i < this.count; i++) {
              let ramdom = Math.random().toFixed(10);

              if (ramdom > 1 - 0.7094572291 && ramdom < 1 - 0.2756246724)
                white++;
              else if (ramdom > 1 - 0.2756246724 && ramdom < 1 - 0.0132303987)
                green++;
              else if (ramdom > 1 - 0.0132303987 && ramdom < 1 - 0.0015873998)
                blue++;
              else if (ramdom > 1 - 0.0015873998 && ramdom < 1 - 0.0001003001)
                purple++;
              else if (ramdom > 1 - 0.0001003001) {
                gold++;
              } else {
                white++;
              }
            }

            // 返回結果
            this.result.unshift({ white, green, blue, purple, gold });
            // 顯示台幣
            this.accumulation += parseInt(
              /*
               * 1. 11抽 2100鑽
               * 2. 30580鑽 10000台幣
               * 3. 無條件進位
               * 4. 好玩？不！花錢
               */
              ((((this.count / 11) * 2100) / 30580) * 10000).toFixed()
            );
          },
        },
        computed: {
          white() {
            return !this.result.length
              ? 0
              : this.result.length === 1
              ? this.result[0].white
              : this.result.map((e) => e.white).reduce((p, c) => p + c);
          },
          green() {
            return !this.result.length
              ? 0
              : this.result.length === 1
              ? this.result[0].green
              : this.result.map((e) => e.green).reduce((p, c) => p + c);
          },
          blue() {
            return !this.result.length
              ? 0
              : this.result.length === 1
              ? this.result[0].blue
              : this.result.map((e) => e.blue).reduce((p, c) => p + c);
          },
          purple() {
            return !this.result.length
              ? 0
              : this.result.length === 1
              ? this.result[0].purple
              : this.result.map((e) => e.purple).reduce((p, c) => p + c);
          },
          gold() {
            return !this.result.length
              ? 0
              : this.result.length === 1
              ? this.result[0].gold
              : this.result.map((e) => e.gold).reduce((p, c) => p + c);
          },
        },
      }).mount('#app');
    </script>
  </body>
</html>
